.page{
    margin: 50px;
}

.margin{
    margin: 35px;
}

.genres{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
}

.synopsis{
    padding: 0px 300px;
    line-height: 30px;
}

.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
    padding: 10px;
}